/* sizing of border on webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background color of webpage */
body {
    background-color: rgb(214, 237, 248)
}

/* Lernantino color, navigation bar sizing, navigation bar color, navigatoin bar font */
.header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(46, 60, 66);
    color: rgb(162, 225, 252);
    padding: 20px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* navigation text placement */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* navigation bar text */
a {
    display: inline-block;
    color: rgb(155, 220, 248);
    text-decoration: underline;
    font-size: 24px;
    text-align: center;
    bottom: 10px;
}

/* hero image and sizing */
.hero {
    height: 400px;
    background-image: url("../images/HeroPattern1.jpg");
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.hero-img {
    height: 200px;
    width: 200px;
}

/* hero quote text */
.hero .quote {
    font-size: 35px;
    display: flex;
    justify-content: center;
    text-align: right;
    color: #ffffff;
    text-shadow: 2.5px 2.5px 5px;
}

.hero .quote #quote-text {
    font-size: 37px;

/* content area */
.content {
    text-align: right;
}

/* image sizing etc. */
.about-me img {
    height: 200px;
    width: 200px;
}

.about-me h2, .work h2, .contact-me h2, .resume h2 {
    float: left;
}

.header2 {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #3e6266;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

.p-text {
    flex: 12;
  }

.header2info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 70%
  }